.signIn{
  max-width: 1000px;
  margin: auto;
  height: 100vh;
  overflow-y: hidden;
}

.borderBox{
  padding: 2rem;
  max-width: 300px;
  display: flex;
  align-items: center;
  height: 200px;
  margin: auto;
  margin-top: 30vh;
  font-size: 20px;
  background-color: #0e0f12;
  filter: drop-shadow(0px 0px 2px #c4c6c8);
  border-radius: 10px;
  z-index: 11;
  overflow-y: hidden;
}

.main{
  text-align: center;
  display: flex;
  flex-direction: column;
}

.logo{
  width: 64px;
  height: 64px;
}

.privacy{
  font-size: 12px;
  color: #c4c6c8;
  margin: 1rem 0 1.75rem 0;
}

.google{
  width: 24px;
  height: 24px;
}