.default,
.large,
.small {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  vertical-align: middle;
  overflow: hidden;
  user-select: none;
  border-radius: 100%;
}

.default {
  width: 45px;
  min-width: 45px;
  height: 45px;
  box-shadow: 0px 0px 4px var(--font-color);
}

.large {
  width: 10rem;
  height: 10rem;
  box-shadow: 1px 1px 6px var(--font-color);
}

.small {
  width: 24px;
  height: 24px;
  box-shadow: 0px 0px 2px var(--font-color);
}

.image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: inherit;
  cursor: pointer;
}

.fallback {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: transparent;
  color: var(--text-color);
  font-size: 15px;
  line-height: 1;
  font-weight: 500;
  cursor: pointer;
}

@media screen and (max-width: 768px) {
  .large {
    width: 5rem;
    min-width: 5rem;
    height: 5rem;
  }
}