.background {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgb(20, 20,20, 0.5);
  overflow-y: hidden;
  backdrop-filter: blur(3px);
  z-index: 11;
}

.main{
  max-width: 1000px;
  margin: auto;
  height: 100vh;
  overflow-y: hidden;
}

.container{
  max-width: 500px;
  margin: 10vh auto 0 auto;
  height: 770px;
  background-color: #0e0f12;
  filter: drop-shadow(0 0 1px #c4c6c8);
  border-radius: 10px;
  z-index: -1;
}

.containerNoBorder{
  max-width: 500px;
  margin: 5vh auto 0 auto;
  border-radius: 10px;
}

@media (max-width: 768px) {
  .container{
    height: 100vh;
    margin: 0;
  }
  .containerNoBorder{
    margin-top: 5vh;
  }
}

.closeModal{
  position: absolute;
  right: 0.5rem;
  top: 0.5rem;
}

.closeButton{
  width: 25px;
  height: 25px;
  border: 1px solid #d9d9d9;
  background-color: #dfdfdf;
  text-align: center;
  line-height: 22px;
  border-radius: 5px;
  font-size: 16px;
  box-sizing: border-box;
}

.closeButton:hover{
  cursor: pointer;
  border: 1px solid black;
  box-sizing: border-box;
}