.form{
  width: 100%;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  padding: 1rem;
}

.fileInput {
  position: relative;
  width: 100%;
  padding-top: 110%;
  margin-top: 2rem;
  background-color: #0e0f12;
  filter: drop-shadow(0 0 1px #c4c6c8);
  border-radius: 10px;
}

.image {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  border-radius: 10px;
  box-sizing: border-box;
}

.uploadLayout {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.imageInfo {
  width: 60%;
  font-size: 12px;
  text-align: center;
  color: rgb(220, 220, 220, 0.8);
  margin-top: 1rem;
}

.textarea {
  width: 100%;
  height: 8rem;
  display: flex;
  margin-bottom: 1.25rem;
}

.description {
  width: 100%;
  resize: none;
  outline: none;
  border: 0;
  height: 7rem;
  border-radius: 5px;
  background-color: #0e0f12;
  filter: drop-shadow(0 0 1px #c4c6c8);
  color: white;
  padding: 0.5rem 1rem;
  box-sizing: border-box;
  text-align: justify;
  margin-top: 1rem;
  font-family: inherit;
}

.description::placeholder {
  color: rgb(220, 220, 220, 0.8);
}

.characterLimit {
  width: 500px;
  position: absolute;
  font-size: 11px;
  z-index: 2;
  text-align: right;
  box-sizing: border-box;
  padding-right: 2.5rem;
  margin-top: 6.7rem;
}

@media (max-width: 768px) {
  .form{
    gap: 0.5rem;
  }
  .characterLimit {
    display: none;
  }
  .textarea{
    margin-bottom: 1rem;
  }
}
