.grid {
  display: grid;
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
  grid-template-columns: repeat(3, minmax(0, 1fr));
  row-gap: 1rem;
  column-gap: 1rem;
}

.sidebar{
  position: sticky;
  top: 6rem;
  order: 9999;
  height: fit-content;
}

.rightPanel {
  overflow: hidden;
  height: fit-content;
  padding-bottom: 0.25rem;
}

.userBox{
  border-radius: 5px;
  height: fit-content;
  padding-bottom: 1rem;
  border: 1px solid rgb(200, 200, 200, 0.3);
}

.nameBox {
  background-color: #0e0f12;
  padding: 0.5rem 1.5rem 0.5rem 1.5rem;
  text-align: center;
  font-weight: 500;
  font-size: 26px;
}

.description {
  text-align: justify;
  padding: 1rem;
  font-size: 14px;
  color: rgb(210, 210, 210, 0.9);
}

.proposedUsers{
  border-radius: 5px;
  height: fit-content;
  padding-bottom: 0.5rem;
  border: 1px solid rgb(200, 200, 200, 0.3);
  margin-top: 1rem;
}

.proposedDescription{
  text-align: center;
  padding: 1rem 0.25rem 0.25rem 0.25rem;
  font-size: 15px;
  color: rgb(210, 210, 210, 0.9);
}

.proposedUser{
  margin: 0.25rem 0.75rem;
  padding: 0.5rem 0.5rem;
  font-size: 14px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-sizing: border-box;
  border-radius: 5px;
}

.userData{
  display: flex;
  gap: 0.75rem;
  align-items: center;
  overflow: hidden;
}

@media (max-width: 768px) {
  .grid {
    grid-template-columns: repeat(1, minmax(0, 1fr));
    column-gap: 0;
  }
  .sidebar{
    position: static;
    order: -9999;
  }
  .userBox{
    border: 0;
  }
  .proposedUsers{
    display: none;
  }
  .description{
    text-align: center;
  }
}