.background {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgb(20, 20,20, 0.5);
  overflow-y: hidden;
  backdrop-filter: blur(3px);
  z-index: 11;
}

.container{
  padding: 2rem;
  max-width: 300px;
  display: flex;
  align-items: center;
  height: 200px;
  margin: auto;
  margin-top: 30vh;
  font-size: 20px;
  background-color: #0e0f12;
  filter: drop-shadow(0 0 1px #c4c6c8);
  border-radius: 10px;
  z-index: -1;
}

.closeModal{
  position: absolute;
  right: 1rem;
  top: 1rem;
}

.closeButton{
  width: 25px;
  height: 25px;
  filter: drop-shadow(0 0 1px #c4c6c8);
  background-color: #0e0f12;
  text-align: center;
  line-height: 22px;
  border-radius: 5px;
  font-size: 16px;
  box-sizing: border-box;
}

.closeButton:hover{
  cursor: pointer;
  border: 1px solid black;
  box-sizing: border-box;
}