.header{
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  height: 50px;
  padding: 10px;
  background-color: #0e0f12;
  border-bottom: 1px solid #202833;
  z-index: 10;
}

.main{
  max-width: 1000px;
  height: 100%;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo{
  height: 50px;
  width: 50px;
  margin-top: 5px;
}

.searchBar{
  height: 40px;
  width: 300px;
  border-radius: 10px;
  background-color: #1a1a1a;
  border: 1px solid white;
}