.main {
  max-width: 1000px;
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.userData {
  width: 50%;
  display: flex;
  flex-direction: column;
  margin-top: 1rem;
  margin-bottom: 1rem;
  align-items: center;
  justify-content: center;
  color: white;
  padding: 0.5rem 1rem;
  box-sizing: border-box;
  background-color: #0b0c10;
  border-width: 1px;
  border-style: solid;
  border-image: linear-gradient(transparent, gray, transparent) 1 120%;
}

.name {
  margin-top: 0.5rem;
  font-size: 20px;
  filter: drop-shadow(0px 1px 2px #c4c6c8);
}

.statistics {
  width: 100%;
  margin-top: 0.5rem;
  display: grid;
  grid-template-columns: repeat(3, minmax(0, 1fr));
  column-gap: 0.25rem;
}

.statistic {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  filter: drop-shadow(0px 1px 2px #c4c6c8);
}

.buttonArea{
  width: 100%;
  margin-top: 1rem;
}

.loader {
  animation: spin 1s linear infinite;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

@media(max-width: 768px){
  .userData{
    border: 0;
    width: 100%;
  }
}