.main{
  width: 100%;
  display: flex;
  justify-content: space-between;
  font-size: 13px;
  font-weight: 500;
  align-items: center;
  box-sizing: border-box;
  text-shadow: 5px #1a1a1a;
  padding: 0 0.5rem;
}

.votes{
  display: flex;
  align-items: center;
  gap: 0.35rem;
}

.heart{
  transition-property: all;
  transition-duration: 200ms;
  transition-timing-function: linear;
}

.heart:hover{
  transition-property: all;
  transition-duration: 200ms;
  transition-timing-function: linear;
  fill: #b00037;
  cursor: pointer;
}

.star{
  transition-property: all;
  transition-duration: 200ms;
  transition-timing-function: linear;
}

.star:hover{
  transition-property: all;
  transition-duration: 200ms;
  transition-timing-function: linear;
  fill: #e0c21b;
  stroke: #e0c21b;
  cursor: pointer;
}
